{
  "name": "webberdooframework",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "assets/_foundation/scss/app.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"assets/default/css/app.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "assets/_foundation/scss/app.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"assets/default/js/app.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets",
      "assets/_foundation",
      "assets/_foundation/scss"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/_foundation/scss/app.js",
      "imports": [
        "assets/_foundation/scss/js/what-input.js",
        "assets/_foundation/scss/js/foundation.js",
        "assets/_foundation/scss/js/favorite.js",
        "assets/_foundation/scss/js/notif.js",
        "assets/_foundation/scss/js/notifAlerts.js",
        "assets/_foundation/scss/js/lity.js",
        "assets/_foundation/scss/js/slick.min.js",
        "assets/_foundation/scss/js/app.js"
      ]
    },
    {
      "path": "assets/_foundation/scss/app.scss",
      "imports": [
        "assets/_foundation/scss/_settings.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/foundation.scss",
        "assets/_foundation/bower_components/motion-ui/motion-ui.scss",
        "assets/_foundation/scss/_custom.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_util.scss",
        "assets/_foundation/bower_components/foundation-sites/_vendor/normalize-scss/sass/_normalize.scss",
        "assets/_foundation/bower_components/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/_missing-dependencies.scss",
        "assets/_foundation/bower_components/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/_true.scss",
        "assets/_foundation/bower_components/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_purge.scss",
        "assets/_foundation/bower_components/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_remove.scss",
        "assets/_foundation/bower_components/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_replace.scss",
        "assets/_foundation/bower_components/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_to-list.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/settings/_settings.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/_global.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/grid/_grid.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/typography/_typography.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_forms.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_visibility.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_float.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_button.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_button-group.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_accordion-menu.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_accordion.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_badge.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_breadcrumbs.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_callout.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_card.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_close-button.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_drilldown.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_dropdown-menu.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_dropdown.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_flex.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_responsive-embed.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_label.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_media-object.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_menu.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_menu-icon.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_off-canvas.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_orbit.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_pagination.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_progress-bar.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_reveal.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_slider.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_sticky.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_switch.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_table.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_tabs.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_title-bar.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_top-bar.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_thumbnail.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_tooltip.scss",
        "assets/_foundation/bower_components/motion-ui/src/motion-ui.scss",
        "assets/_foundation/scss/css/slick.css",
        "assets/_foundation/scss/css/slick-theme.css",
        "assets/_foundation/scss/css/sinister.css",
        "assets/_foundation/scss/css/notif.css",
        "assets/_foundation/scss/css/sweetalert.css",
        "assets/_foundation/scss/css/font-awesome.min.css",
        "assets/_foundation/scss/css/lity.css",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_math.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_unit.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_value.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_color.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_selector.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_flex.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_breakpoint.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_mixins.scss",
        "assets/_foundation/bower_components/foundation-sites/_vendor/normalize-scss/sass/normalize/_variables.scss",
        "assets/_foundation/bower_components/foundation-sites/_vendor/normalize-scss/sass/normalize/_vertical-rhythm.scss",
        "assets/_foundation/bower_components/foundation-sites/_vendor/normalize-scss/sass/normalize/_normalize-mixin.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/grid/_row.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/grid/_column.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/grid/_size.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/grid/_position.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/grid/_gutter.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/grid/_classes.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/grid/_layout.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/grid/_flex-grid.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/typography/_base.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/typography/_helpers.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/typography/_alignment.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/typography/_print.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_text.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_checkbox.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_label.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_help-text.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_input-group.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_fieldset.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_select.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_range.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_progress.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_meter.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_error.scss",
        "assets/_foundation/bower_components/motion-ui/src/_settings.scss",
        "assets/_foundation/bower_components/motion-ui/src/util/_animation.scss",
        "assets/_foundation/bower_components/motion-ui/src/util/_args.scss",
        "assets/_foundation/bower_components/motion-ui/src/util/_keyframe.scss",
        "assets/_foundation/bower_components/motion-ui/src/util/_selector.scss",
        "assets/_foundation/bower_components/motion-ui/src/util/_series.scss",
        "assets/_foundation/bower_components/motion-ui/src/util/_transition.scss",
        "assets/_foundation/bower_components/motion-ui/src/util/_unit.scss",
        "assets/_foundation/bower_components/motion-ui/src/effects/_fade.scss",
        "assets/_foundation/bower_components/motion-ui/src/effects/_hinge.scss",
        "assets/_foundation/bower_components/motion-ui/src/effects/_spin.scss",
        "assets/_foundation/bower_components/motion-ui/src/effects/_zoom.scss",
        "assets/_foundation/bower_components/motion-ui/src/effects/_shake.scss",
        "assets/_foundation/bower_components/motion-ui/src/effects/_slide.scss",
        "assets/_foundation/bower_components/motion-ui/src/effects/_wiggle.scss",
        "assets/_foundation/bower_components/motion-ui/src/transitions/_fade.scss",
        "assets/_foundation/bower_components/motion-ui/src/transitions/_hinge.scss",
        "assets/_foundation/bower_components/motion-ui/src/transitions/_zoom.scss",
        "assets/_foundation/bower_components/motion-ui/src/transitions/_slide.scss",
        "assets/_foundation/bower_components/motion-ui/src/transitions/_spin.scss",
        "assets/_foundation/bower_components/motion-ui/src/_classes.scss"
      ]
    },
    {
      "path": "assets/_foundation/scss/app.scss",
      "imports": [
        "assets/_foundation/scss/_settings.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/foundation.scss",
        "assets/_foundation/bower_components/motion-ui/motion-ui.scss",
        "assets/_foundation/scss/_custom.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_util.scss",
        "assets/_foundation/bower_components/foundation-sites/_vendor/normalize-scss/sass/_normalize.scss",
        "assets/_foundation/bower_components/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/_missing-dependencies.scss",
        "assets/_foundation/bower_components/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/_true.scss",
        "assets/_foundation/bower_components/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_purge.scss",
        "assets/_foundation/bower_components/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_remove.scss",
        "assets/_foundation/bower_components/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_replace.scss",
        "assets/_foundation/bower_components/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_to-list.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/settings/_settings.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/_global.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/grid/_grid.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/typography/_typography.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_forms.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_visibility.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_float.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_button.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_button-group.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_accordion-menu.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_accordion.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_badge.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_breadcrumbs.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_callout.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_card.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_close-button.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_drilldown.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_dropdown-menu.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_dropdown.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_flex.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_responsive-embed.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_label.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_media-object.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_menu.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_menu-icon.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_off-canvas.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_orbit.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_pagination.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_progress-bar.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_reveal.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_slider.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_sticky.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_switch.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_table.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_tabs.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_title-bar.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_top-bar.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_thumbnail.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/components/_tooltip.scss",
        "assets/_foundation/bower_components/motion-ui/src/motion-ui.scss",
        "assets/_foundation/scss/css/slick.css",
        "assets/_foundation/scss/css/slick-theme.css",
        "assets/_foundation/scss/css/sinister.css",
        "assets/_foundation/scss/css/notif.css",
        "assets/_foundation/scss/css/sweetalert.css",
        "assets/_foundation/scss/css/font-awesome.min.css",
        "assets/_foundation/scss/css/lity.css",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_math.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_unit.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_value.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_color.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_selector.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_flex.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_breakpoint.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_mixins.scss",
        "assets/_foundation/bower_components/foundation-sites/_vendor/normalize-scss/sass/normalize/_variables.scss",
        "assets/_foundation/bower_components/foundation-sites/_vendor/normalize-scss/sass/normalize/_vertical-rhythm.scss",
        "assets/_foundation/bower_components/foundation-sites/_vendor/normalize-scss/sass/normalize/_normalize-mixin.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/grid/_row.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/grid/_column.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/grid/_size.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/grid/_position.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/grid/_gutter.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/grid/_classes.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/grid/_layout.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/grid/_flex-grid.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/typography/_base.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/typography/_helpers.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/typography/_alignment.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/typography/_print.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_text.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_checkbox.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_label.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_help-text.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_input-group.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_fieldset.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_select.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_range.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_progress.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_meter.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/forms/_error.scss",
        "assets/_foundation/bower_components/motion-ui/src/_settings.scss",
        "assets/_foundation/bower_components/motion-ui/src/util/_animation.scss",
        "assets/_foundation/bower_components/motion-ui/src/util/_args.scss",
        "assets/_foundation/bower_components/motion-ui/src/util/_keyframe.scss",
        "assets/_foundation/bower_components/motion-ui/src/util/_selector.scss",
        "assets/_foundation/bower_components/motion-ui/src/util/_series.scss",
        "assets/_foundation/bower_components/motion-ui/src/util/_transition.scss",
        "assets/_foundation/bower_components/motion-ui/src/util/_unit.scss",
        "assets/_foundation/bower_components/motion-ui/src/effects/_fade.scss",
        "assets/_foundation/bower_components/motion-ui/src/effects/_hinge.scss",
        "assets/_foundation/bower_components/motion-ui/src/effects/_spin.scss",
        "assets/_foundation/bower_components/motion-ui/src/effects/_zoom.scss",
        "assets/_foundation/bower_components/motion-ui/src/effects/_shake.scss",
        "assets/_foundation/bower_components/motion-ui/src/effects/_slide.scss",
        "assets/_foundation/bower_components/motion-ui/src/effects/_wiggle.scss",
        "assets/_foundation/bower_components/motion-ui/src/transitions/_fade.scss",
        "assets/_foundation/bower_components/motion-ui/src/transitions/_hinge.scss",
        "assets/_foundation/bower_components/motion-ui/src/transitions/_zoom.scss",
        "assets/_foundation/bower_components/motion-ui/src/transitions/_slide.scss",
        "assets/_foundation/bower_components/motion-ui/src/transitions/_spin.scss",
        "assets/_foundation/bower_components/motion-ui/src/_classes.scss"
      ]
    },
    {
      "path": "assets/_foundation/scss/_custom.scss",
      "imports": [
        "assets/_foundation/scss/css/slick.css",
        "assets/_foundation/scss/css/slick-theme.css",
        "assets/_foundation/scss/css/sinister.css",
        "assets/_foundation/scss/css/notif.css",
        "assets/_foundation/scss/css/sweetalert.css",
        "assets/_foundation/scss/css/font-awesome.min.css",
        "assets/_foundation/scss/css/lity.css"
      ]
    },
    {
      "path": "assets/_foundation/scss/_settings.scss",
      "imports": [
        "assets/_foundation/bower_components/foundation-sites/scss/util/_util.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_math.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_unit.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_value.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_color.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_selector.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_flex.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_breakpoint.scss",
        "assets/_foundation/bower_components/foundation-sites/scss/util/_mixins.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}